doctype html
html(lang='zh-TW')
  head
    include ./base/head.jade
  body
    #fb-root
    h1.hide 《怪獸與牠們的產地》JUKSY特別企劃 - JUKSY 流行生活網
    include ./nav/n_01.jade
    include ./header/h_02.jade
    include ./layout/l_04.jade
    include ./layout/l_06.jade
    include ./layout/l_03_infinite.jade
    include ./article/a_01.jade
    include ./gallery/g_01.jade
    include ./footer/f_01.jade
    include ./btnfixed/b_01.jade
    include ./gallery/photoswipe_ui.jade
    // js
    include ./layout/l_03_infinite_script.jade
    include ./layout/l_06_script.jade
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/1.7.4/jquery.dotdotdot.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jssor-slider/21.1.5/jssor.slider.mini.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js")
    script(async, src="//www.youtube.com/iframe_api")
    script(src="js/gallery/g_01/photoswipe-ui-default.js")
    script(src="js/index.js")
    // third party
    script(type='text/javascript')
      include ./js/foot.js
    // third party end
    // js end