// gallery01
section.gallery_01(data-menu='true')
	.layoutWrap
		h2.title 《怪獸與牠們的產地》片場直擊！
		.detail 《怪獸與牠們的產地》掀起全球魔法迷一陣轟動，隨著 JUKSY 的腳步，帶著莫魔麻瓜偷偷闖入《怪獸與牠們的產地》片場。
	#gallery_01_slider0.gallery_01_slider
		//Loading Screen
		.loading(u='loading')
			.loader Loading...
		//Main Slide
		.slides(data-u='slides')
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/01.jpg', data-width='5557', data-height='3705')
				img(data-u='thumb', src='img/gallery/g_01/thumb-01.jpg')
				.txt
					span
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/02.jpg', data-width='5574', data-height='3562')
				img(data-u='thumb', src='img/gallery/g_01/thumb-02.jpg')
				.txt
					span
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/03.jpg', data-width='5688', data-height='3792')
				img(data-u='thumb', src='img/gallery/g_01/thumb-03.jpg')
				.txt
					span
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/04.jpg', data-width='4882', data-height='3255')
				img(data-u='thumb', src='img/gallery/g_01/thumb-04.jpg')
				.txt
					span
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/05.jpg', data-width='5355', data-height='3570')
				img(data-u='thumb', src='img/gallery/g_01/thumb-05.jpg')
				.txt
					span
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/06.jpg', data-width='5646', data-height='3764')
				img(data-u='thumb', src='img/gallery/g_01/thumb-06.jpg')
				.txt
					span
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/07.jpg', data-width='5499', data-height='3666')
				img(data-u='thumb', src='img/gallery/g_01/thumb-07.jpg')
				.txt
					span
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/08.jpg', data-width='5425', data-height='3617')
				img(data-u='thumb', src='img/gallery/g_01/thumb-08.jpg')
				.txt
					span
			.slide(data-p='144.50', style='display: none;')
				.img
					img(src='img/gallery/g_01/09.jpg', data-width='3264', data-height='4896')
				img(data-u='thumb', src='img/gallery/g_01/thumb-09.jpg')
				.txt
					span
		.showMore
			span SHOW MORE
		//Thumbnail Navigator
		.jssort01(data-u='thumbnavigator', data-autocenter='1')
			.slides(data-u='slides')
				.p(data-u='prototype')
					.w
						.t(data-u='thumbnailtemplate')
					.c
		//Arrow Navigator
		span.jssora05l(data-u='arrowleft')
			svg.arrowL(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 60')
				polyline(points='18.91 0.51 1.17 30.17 18.91 59.38')
		span.jssora05r(data-u='arrowright')
			svg.arrowR(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 60')
				polyline(points='0.86 0.51 18.61 30.17 0.86 59.38')
// gallery01 end