// layout03_infinite
section.layout_03_infinit.layout_03(data-menu='true')
	.layoutWrap(data-tags='["怪獸與牠們的產地"]',data-filter='[58950, 57898, 58978]')
		h2.title 紐特魔法皮箱裡的秘密
		.detail 
		.subTitleWrap
			p.subTitle 《怪獸與牠們的產地》將由三部曲擴充至五部曲，所有魔法須知全都在這卡皮箱裡！
// layout03_infinite end