// layout04
section.layout_04(data-menu='true')
	.layoutWrap
		h2.title  莫魔須知
		.detail 不是改編、沒有節錄，更不是對既有小說的詮釋，在沒有人知道劇情走向的情況下，熟讀 「觀影前須知」後便能通往全新魔法世界。
		.sliderWrap
			.slidesWrap.fadeOut
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/58950', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/58950/cover/5817223cdce56.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/58950', target='_blank')
								h3 觀眾首次一窺 J·K·羅琳心中的世界　《怪獸與牠們的產地》將掀魔法世界新篇章！
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/57898', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/57898/cover/5829989236812.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/57898', target='_blank')
								h3 觀影前必看！《怪獸與牠們的產地》懶人包　魔法新世界 5 大背景搶先曝光
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/58978', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/58978/cover/5817caa7aa899.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/58978', target='_blank')
								h3 魔法迷注意！ J·K·羅琳宣佈《怪獸與牠們的產地》將自 3 部擴展至 5 部曲
// layout04 end