// layout06
section.layout_06(data-menu='true')
	.layoutWrap(data-engtitle='記者會直擊', data-title='', data-description='JUKSY 直擊北京《怪獸與牠們的產地》記者會！', data-tags='["怪獸與牠們的產地北京特派"]',data-filter='[58950, 57898, 58978]')
// layout06 end